*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial';

}

body {  
  min-width: 100vw;
  min-height: 100vh;
  background: radial-gradient(rgb(139, 139, 139), rgb(233, 233, 231))
}
